name: Docker in Docker Test

on:
  workflow_dispatch:
  push:
    branches: [ "feature/docker-in-docker-test" ]

jobs:
  host-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check Docker on Host
        run: |
          docker version
          docker info
          docker run hello-world

  container-with-host-docker:
    runs-on: ubuntu-latest
    container:
      image: docker:27-cli
    steps:
      - name: Check Docker from Container (Socket)
        run: |
          docker version
          docker info
          docker run hello-world

  build-macos:
    name: Build Docker on macOS (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-13, macos-14] # 13 is Intel, 14 is Apple Silicon
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker
        run: |
          brew install colima docker
          colima start

      - name: Verify Docker
        run: |
          docker version
          docker info
          docker run hello-world
